.centralized {
  top: 50%;
  right: 4px;
  transform: translate(-50%, -50%);
}

.theElementWithScrollX::-webkit-scrollbar {
  height: 5px;
}
.theElementWithScrollX::-webkit-scrollbar-track {
  background-color: transparent;
}
.theElementWithScrollX::-webkit-scrollbar-thumb {
  background-color: #484444;
  opacity: 0.5;
}
.contentScroll::-webkit-scrollbar {
  height: auto;
}
.contentScroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.contentScroll::-webkit-scrollbar-thumb {
  background-color: #484444;
  opacity: 0.5;
}
.contentScroll::-webkit-scrollbar-corner {
  background-color: transparent; /* Make it transparent or match the background color */
}
.navBar::-webkit-scrollbar {
  height: auto;
  width: 10px;
}
.navBar::-webkit-scrollbar-track {
  background-color: transparent;
}
.navBar::-webkit-scrollbar-thumb {
  background-color: #484444;
  opacity: 0.5;
}